body{
  margin: 0;
}

.gamePanel{
  width: 100%;
}

.actionButton{
  margin: 5px;
}

.barLabel{
	position: absolute;
	left: 50%;
	height: 100%;
  font-weight: bold;
}

.barValue{
  height: 20px;
}

.panel{
    padding: 5px;
    margin: 5px;
    border: 1px solid;
}

.leftPanel, .rightPanel{
	display: inline-block;
  vertical-align: top;
}

.panel .barContainer{
	width: 90%;
}